.status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.status h2,
p {
  padding: 1rem;
}
.icon-des {
  display: flex;
  flex-direction: row;
  max-width: 100;
}
.icon-des div {
  margin: 1rem;
  border-radius: 28px;
  background: #e0e0e0;
  box-shadow: 20px 20px 46px #bebebe, -20px -20px 46px #ffffff;
  padding: 1rem;
}

.icon-des i {
  color: #17cf97;
  font-size: 40px;
}
@media screen and (max-width: 769px) {
  .icon-des {
    display: flex;
    flex-direction: column;
  }
}
