.main {
    padding: 1rem;
    margin: 0 2rem;

}
article h1 ,p {
    text-align: start;
}
article p {
    padding: 1rem 0;
}
.main li {
    padding: 0.2rem 0;
}

.main ul li{
    text-align: start;
    list-style: none;
}
ul li i {
    padding-right: 0.5rem;
}
